### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# creat File path to Load 
csvpath = "Resources/purchase_data.csv"

# Read Pymoli File and store into Pandas data frame
pymolifile = pd.read_csv(csvpath)
pymolifile.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#count the number of unique SN.  The nunique command will coutn just the unique values of the SN column in pymolifile.
#pymolifile["SN"].count() see how many items in are the column SN in the csv file

#pymolifile["SN"].nunique()
#now create variable to store the unique player count

playercount=pymolifile["SN"].nunique()

#create data frame that i will call playercountdataframe which will contain the value from playercount with a column name "total players"

playercountdataframe = pd.DataFrame({
    "Total Players": [playercount]
})
playercountdataframe

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#create a variable to store the unique number items by using nunique on "item id"
itemcount = pymolifile["Item ID"].nunique()

#create a variable to store the average price
averageprice = pymolifile["Price"].mean()

#create a variable to store the count of purchase
purchasecount = pymolifile["Item Name"].count()

#create a variable to store the sum of the price column

total = pymolifile["Price"].sum()


#create data frame to display results using the variables above
purchasing = pd.DataFrame({
    "Number of Unique Items":[itemcount],
    "Average Price": [averageprice],
    "Number of Purchases": [purchasecount],
    "Total Revenue": [total]
    
})


#format average price and total revenue
#Tell jupyter how to format the column and replace the existing values

purchasing["Average Price"] = purchasing["Average Price"].map("${0:.2f}".format)
purchasing["Total Revenue"] = purchasing["Total Revenue"].map("${0:,.2f}".format)
purchasing

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#how many players there are by using drop_duplicates to remove duplicate players

columncleanup = pymolifile.drop_duplicates("SN")
genderdemographic = columncleanup["Gender"].value_counts()

#create a data from using the information above
# = is literally, setting a value 
# == is a comparison and checking if the value is something

GenderDem = pd.DataFrame(genderdemographic)
GenderDem["Percentage of Players"] = GenderDem["Gender"]/playercount *100

#formatting percentage of players to a have % sign and only 2 decimal places
GenderDem["Percentage of Players"] = GenderDem["Percentage of Players"].map("{0:.2f}%".format)
GenderDem

                       Gender Percentage of Players
Male                      484                84.03%
Female                     81                14.06%
Other / Non-Disclosed      11                 1.91%

In [5]:
#create a variable for storing male, female, other data

male = pymolifile.loc[pymolifile["Gender"] =="Male"] 
female = pymolifile.loc[pymolifile["Gender"] =="Female"]
other = pymolifile.loc[pymolifile["Gender"] =="Other / Non-Disclosed"]

#new variable to store gender counts

malecount = male["SN"].nunique()
femalecount = female["SN"].nunique()
othercount = other["SN"].nunique()

#creating a variable to store total playercount
playercount=pymolifile["SN"].nunique()

#create a variable to store the percentage of each gender type using the player count variable from above.

malepercentage = malecount/playercount * 100
femalepercentage = femalecount/playercount *100
otherpercentage = othercount/playercount * 100

# create a dataframe to display gender counts and percentages
genderdataframe = pd.DataFrame({
    "Total Count": [malecount, femalecount, othercount],
    "Percentage of Players": [malepercentage, femalepercentage, otherpercentage],
    "Gender":["Male", "Female", "Other / Non-Disclosed"]
})

#setting index to be the gender column with set_index
genderdataframe = genderdataframe.set_index("Gender")

#Remove index title using the index.name property
genderdataframe.index.name = None

#formatting percentage of players to a have % sign and only 2 decimal places
genderdataframe["Percentage of Players"] = genderdataframe["Percentage of Players"].map("{0:.2f}%".format)
genderdataframe

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# create a variable to count total purchases for each gender

malepc = male["Item ID"].count()
femalepc = female["Item ID"].count()
otherpc = other["Item ID"].count()

#create a variable to store the average amount spent on purchases by gender
maleavgprice = male["Price"].mean()
femaleavgprice = female["Price"].mean()
otheravgprice = other["Price"].mean()

#create a variable to store total aount of purchases for each gender

maletotalprice = male["Price"].sum()
femaletotalprice = female["Price"].sum()
othertotalprice = other["Price"].sum()

#new variable to store gender counts

#malecount = male["SN"].nunique()
#femalecount = female["SN"].nunique()
#othercount = other["SN"].nunique()

#create a variable to store average total purchase per person - maletotalprice/malecount (which is unique and was created in gender demographics)

maleavgpurch = maletotalprice/malecount
femaleavgpurch = femaletotalprice/femalecount
otheravgpurch = othertotalprice/othercount

#create the gender purchase data frame to display the variables above.
purchasinganalysis = pd.DataFrame({
   "Purchase Count": [malepc, femalepc, otherpc],
    "Average Purchase Price": [maleavgprice, femaleavgprice, otheravgprice],
    "Total Purchase Value":[maletotalprice, femaletotalprice, othertotalprice],
    "Avg Total Purchase per Person": [maleavgpurch, femaleavgpurch, otheravgpurch],
    "Gender":["Male", "Female", "Other / Non-Disclosed"]
})

#format average purchase price, total purchase value, avg total purchase per person to have a $ and decimal point.
#Set the gender colum to the index


purchasinganalysis["Average Purchase Price"] = purchasinganalysis["Average Purchase Price"].map("${0:.2f}".format)
purchasinganalysis["Total Purchase Value"] = purchasinganalysis["Total Purchase Value"].map("${0:,.2f}".format)
purchasinganalysis["Avg Total Purchase per Person"] = purchasinganalysis["Avg Total Purchase per Person"].map("${0:.2f}".format)
purchasinganalysis = purchasinganalysis.set_index("Gender")
purchasinganalysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#create a variable to find the max age

maxage = pymolifile["Age"].max()

# create a groupby object to count how many of each age we have
agegroupby= pymolifile.groupby("Age")

# create a variable to store the age categories 

groups_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# create a variable to store the max values for each categories
age_bins = [0, 9, 14, 19, 24, 28, 34, 39, 46]

#create a column in pymolifile data frame called age group and apply the value from group_names comparing the age column to the values in agin bins
pymolifile["Age Group"] = pd.cut(pymolifile["Age"], bins=age_bins, labels=groups_names)


#Filter pymolifile on each age group
under10 = pymolifile.loc[pymolifile["Age Group"] =="<10"]
ten = pymolifile.loc[pymolifile["Age Group"] =="10-14"]
fifteen = pymolifile.loc[pymolifile["Age Group"] =="15-19"]
twenty = pymolifile.loc[pymolifile["Age Group"] =="20-24"]
twentyfive = pymolifile.loc[pymolifile["Age Group"] =="25-29"]
thirty = pymolifile.loc[pymolifile["Age Group"] =="30-34"]
thirtyfive = pymolifile.loc[pymolifile["Age Group"] =="35-39"]
fortyplus = pymolifile.loc[pymolifile["Age Group"] =="40+"]

#count the players in each data frame above

under10count = under10["SN"].nunique()
tencount = ten["SN"].nunique()
fifteencount = fifteen["SN"].nunique()
twentycount = twenty["SN"].nunique()
twentyfivecount = twentyfive["SN"].nunique()
thirtycount = thirty["SN"].nunique()
thirtyfivecount = thirtyfive["SN"].nunique()
fortypluscount = fortyplus["SN"].nunique()

#create data frame to display age group counts

agegroupdataframe = pd.DataFrame({
    "Total Count": [under10count, tencount, fifteencount, twentycount, twentyfivecount, thirtycount, thirtyfivecount, fortypluscount],
    "Age Group": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
    
})

# set age group as index

agegroupdataframe = agegroupdataframe.set_index("Age Group")
agegroupdataframe.index.name = None

agegroupdataframe["Percentage of Players"] = agegroupdataframe["Total Count"]/playercount *100

#formatting percentage of players to a have % sign and only 2 decimal places
agegroupdataframe["Percentage of Players"] = agegroupdataframe["Percentage of Players"].map("{0:.2f}%".format)
agegroupdataframe

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           67                11.63%
30-34           62                10.76%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
# create group variable to organize the data by age

agegroup = pymolifile.groupby("Age Group")


#create variable to store the total count of players within an age group

agegrouptotalcount = agegroup["SN"].count()

#create a variable to store the average price for each age group

agegroupavgprice = agegroup["Price"].mean()

#create a variable to store the value of total price for each age range

agegrouptotalprice = agegroup["Price"].sum()

# create a variable to store the unique counts of each age group

agegroupuniqueplayercount = agegroup["SN"].nunique()

#create a variable to store the average price by unique player for each age group = ave total pruchase per person

agegroupavgtotalpriceperperson = agegrouptotalprice/agegroupuniqueplayercount

#create a data frame to display and summary based on age group

agegroupdataframe = pd.DataFrame({
    "Purchase Count": agegrouptotalcount,
    "Average Purchase Price": agegroupavgprice,
    "Total Purchase Value": agegrouptotalprice,
    "Avg Total Purchase per Person":agegroupavgtotalpriceperperson 
    
})



#format average purchase price, total purchase value, avg total purchase per person to have a $ and decimal point.



agegroupdataframe["Average Purchase Price"] = agegroupdataframe["Average Purchase Price"].map("${0:.2f}".format)
agegroupdataframe["Total Purchase Value"] = agegroupdataframe["Total Purchase Value"].map("${0:,.2f}".format)
agegroupdataframe["Avg Total Purchase per Person"] = agegroupdataframe["Avg Total Purchase per Person"].map("${0:.2f}".format)

agegroupdataframe.index.name = "Age Ranges"
agegroupdataframe

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,88,$2.93,$257.77,$3.85
30-34,86,$2.90,$249.23,$4.02
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
# create a variable to organize the date by SN

sngroup = pymolifile.groupby("SN")

#create a variable to store purchase count per SN.  Look at the purchase ID column in th orginal pymoli file

snpurchasecount = sngroup["Purchase ID"].count()

#create a variable to store average price per SN

snavgpurchase = sngroup["Price"].mean()

# create a variable to store total purchase per SN

sntotalpurchase = sngroup["Price"].sum()

# create a data frame to display the variables above.

sndataframe = pd.DataFrame({
    "Purchase Count": snpurchasecount,
    "Average Purchase Price": snavgpurchase,
    "Total Purchase Value" : sntotalpurchase  
})

# create a variable to sort the total purchase value column

snsorted = sndataframe.sort_values(by="Total Purchase Value", ascending = False)

# formatting average purchase price and total purchase value to have $ sign and appropriate decimals/comas.

snsorted["Average Purchase Price"] = snsorted["Average Purchase Price"].map("${0:.2f}".format)
snsorted["Total Purchase Value"] = snsorted["Total Purchase Value"].map("${0:,.2f}".format)
snsorted.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [29]:
#Create a variable to group pymoli file by item ID and Item name

itemgroup = pymolifile.groupby(["Item ID", "Item Name"])

#create a variable to store purchase count

popularitemcount = itemgroup["Price"].count()

#create a variable to store total purchase value

popluaritemtotal = itemgroup["Price"].sum()

#create a variable to store the item price by dividing total purchase value/purchase count (popluaritemtotal/popularitemcount)

popularitemprice = popluaritemtotal/popularitemcount

#create a data frame using the variable above

popularitemdataframe = pd.DataFrame({
    "Purchase Count": popularitemcount,
    "Item Price": popularitemprice,
    "Total Purchase Value": popluaritemtotal
    
})

# create variable to sort data frame by purchase count

popularsorted = popularitemdataframe.sort_values(by = "Purchase Count",  ascending = False)

#format the item price and total purchase value columns with a $ and decimals

popularsorted["Item Price"] = popularsorted["Item Price"].map("${0:.2f}".format)
popularsorted["Total Purchase Value"] = popularsorted["Total Purchase Value"].map("${0:,.2f}".format)

popularsorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [30]:
# create variable to sort data frame by total purchase value

profitsorted = popularitemdataframe.sort_values(by = "Total Purchase Value",  ascending = False)

#format the item price and total purchase value columns with a $ and decimals

profitsorted["Item Price"] = profitsorted["Item Price"].map("${0:.2f}".format)
profitsorted["Total Purchase Value"] = profitsorted["Total Purchase Value"].map("${0:,.2f}".format)

profitsorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

# Observations

Final critic was the most profitable item sold.
User Lisosia93 made the most purchases with a total of $18.96
The most popluar age range is 20-24 and they also spend the most money.
Male account for the majority of purchases however females and other / non - disclosed spend more per purchase.